/* Ember supports plain CSS out of the box. More info: https://cli.emberjs.com/release/advanced-use/stylesheets/ */

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'System UI', System, Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

.results-overlay {
  position: fixed;
  top: 0;
  height: calc(100dvh - 84px);
  left: 0;
  right: 0;
  display: flex;
  gap: 1rem;

  .color {
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    text-shadow: 0 1px 0 black;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
  }
}

kbd {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow:
    0 1px 1px rgb(0 0 0 / 20%),
    0 2px 0 0 rgb(255 255 255 / 70%) inset;
  color: #333;
  display: inline-block;
  font-size: 0.85em;
  font-weight: 700;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
}
